{% extends 'base.html.twig' %}

{% block title %}Votre carnet de {{ category.name }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-2" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card mb-3 mx-auto w-50 mt-5 border border-primary rounded">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title">Mon carnet de {{ category.name }}</h5>
            <p><a class="btn btn-outline-primary" href="{{ path('app_notebook_new',{id:category.id}) }}">ajouter</a></p>
        </div>
        {#<img src="..." class="card-img-top" alt="..."> #}
        <div class="card-body">
            {% if notebook is empty %}
                <p class="card-text mt-4 text-center text-primary mb-3" >Vous n'avez pas encore ouvert de carnet</p>
                {% else %}
            <p class="card-text mt-2 text-center">Vous avez {{ notebook.totalItemCount}} sorties enregistrées</p>
            {% endif %}
        </div>
        <div class="card-footer d-flex justify-content-end">
            {% if notebook is empty %}
            <p class="card-text"><small class="text-muted">Aucune note ajoutée </small></p>
            {% else %}
            <p class="card-text"><small class="text-muted">Derniere note ajoutée {{ lastEntry | date("d/m/Y") }}</small></p>
            {% endif %}
        </div>
    </div>
    <div class="row m-2">
    {% for page in notebook %}
            <div class="col-6">
                {% include 'notebook/one_page.html.twig' with {'page':page} %}
            </div>
    {% endfor %}
    </div>
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(notebook) }}
    </div>
{% endblock %}
