<div class="container w-50">
    <div class="card text-center">
        <div class="card-header">
            <h4>Profil</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ userProfil.firstname }} {{ userProfil.lastName }}</h5>
            {% if fullAccess == true %}
            <div class="card-text">{{ userProfil.address }}</div>
            <div class="card-text">{{ userProfil.zipCode }}</div>
            <div class="card-text">{{ userProfil.city }}</div>
            <div class="card-text">{{ userProfil.email }}</div>
            {% endif %}
            <p class="card-text">Nombre de sortie enregistrée {{ userProfil.notebookPages.count }}</p>
            <a href="{{ path('app_user_notebook_all') }}" class="btn btn-primary">{{ fullAccess ?  'Voir toutes tes sorties' :  'Voir toutes ses sorties' }}</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>